<img style="float:left" width="70%" src="pics/escudo_COLOR_1L_DCHA.png">
<img style="float:right" width="15%" src="pics/PythonLogo.svg">
<br style="clear:both;">

# Minería de datos

<h2 style="display: inline-block; padding: 4mm; padding-left: 2em; background-color: navy; line-height: 1.3em; color: white; border-radius: 10px;">Práctica Bayesiano</h2>

## Docentes

 - José Francisco Diez Pastor
 
## Estudiantes (1-2)

- Estudiante 1 
- Estudiante 2

## Descripción de la práctica


Se va a implementar el algoritmo de clasificación bayesiana visto en clase de teoría.
Se aplicará sobre dos de los conjuntos de datos vistos en los ejemplos de teoría.

Se implementará preferentemente utilizando funciones vistas en los notebooks de Pandas.

### Creación de los datasets

Ls datasets son los mismos que aparecen en los apuntes de teoría, para poder comprobar que los resultados intermedios y finales son correctos.

In [1]:
import pandas as pd

debilidad = ["Sí","Sí","No","No","No","Sí","No","No","No","No","No","Sí","No"]
nauseas =   ["Sí","No","Sí","Sí","Sí","No","No","Sí","No","No","No","No","No"]
temperatura = [36,36,36,36,36,36,36,38,38,38,38,38,38]
dolor =     ["No","No","Sí","Sí","Sí","No","No","No","Sí","Sí","Sí","Sí","Sí"]
gripe =     ["Sí","Sí","No","No","No","Sí","No","No","No","No","Sí","No","Sí"]

df_enfermedad = pd.DataFrame({"Debilidad":debilidad,"Nauseas":nauseas,
                              "Temperatura":temperatura,"Dolor":dolor,"Gripe":gripe})
display(df_enfermedad)


outlook = ["Sunny","Sunny","Overcast","Rain","Rain","Rain","Overcast","Sunny","Sunny","Rain","Sunny","Overcast","Overcast","Rain"]
temperature =["Hot","Hot","Hot","Mild","Cool","Cool","Cool","Mild","Cool","Mild","Mild","Mild","Hot","Mild"]
humidity = ["High","High","High","High","Normal","Normal","Normal","High","Normal","Normal","Normal","High","Normal","High"]
windy = ["Weak","Strong","Weak","Weak","Weak","Strong","Strong","Weak","Weak","Weak","Strong","Strong","Weak","Strong"]
play = ["No","No","Yes","Yes","Yes","No","Yes","No","Yes","Yes","Yes","Yes","Yes","No"]

df_play=pd.DataFrame({"outlook":outlook,"temperature":temperature,"humidity":humidity,"windy":windy,"play":play})
display(df_play)

   Debilidad Nauseas  Temperatura Dolor Gripe
0         Sí      Sí           36    No    Sí
1         Sí      No           36    No    Sí
2         No      Sí           36    Sí    No
3         No      Sí           36    Sí    No
4         No      Sí           36    Sí    No
5         Sí      No           36    No    Sí
6         No      No           36    No    No
7         No      Sí           38    No    No
8         No      No           38    Sí    No
9         No      No           38    Sí    No
10        No      No           38    Sí    Sí
11        Sí      No           38    Sí    No
12        No      No           38    Sí    Sí

     outlook temperature humidity   windy play
0      Sunny         Hot     High    Weak   No
1      Sunny         Hot     High  Strong   No
2   Overcast         Hot     High    Weak  Yes
3       Rain        Mild     High    Weak  Yes
4       Rain        Cool   Normal    Weak  Yes
5       Rain        Cool   Normal  Strong   No
6   Overcast        Cool   Normal  Strong  Yes
7      Sunny        Mild     High    Weak   No
8      Sunny        Cool   Normal    Weak  Yes
9       Rain        Mild   Normal    Weak  Yes
10     Sunny        Mild   Normal  Strong  Yes
11  Overcast        Mild     High  Strong  Yes
12  Overcast         Hot   Normal    Weak  Yes
13      Rain        Mild     High  Strong   No

<a id="index"></a>
## Tareas 

1. [Función `get_frecuencias` **(3 Puntos)**](#1)
2. [Función `get_denominador`.**(3 Puntos)**](#2)
4. [Clasificador bayesiano. **(4 Puntos)**](#)

###  Tarea 1. Función `get_frecuencias` <a id="1"></a><a href="#index"><i class="fa fa-list-alt" aria-hidden="true"></i></a>

La función `get_frecuencias` recibe:
- Un DataFrame de datos.
- El nombre de la columna que actua como clase.
- laplace. Vale 0 si no se aplica laplace y 1 si sí que se aplica.
    
Calcula la frecuencia de aparición de cada posible valor (de cada atributo) para cada una de las clases.

Devuelve un DataFrame con la tabla de frecuencias.

Pistas:
- El método `crosstab` que aparece en el primer notebook de Pandas. Sirve para calcular tablas de frecuencias.
- El método `concat` que aparece en el segundo, sirve para juntar varios DataFrames en uno solo.
- Si quieres que tenga la misma apariencia que en el resultado esperado puedes utilizar MultiIndex, pero no sería extrictamente necesario.

```Python
df_frecs = get_frecuencias(df_play,"play",laplace = 0)
display(df_frecs)
```

| play   |   ('outlook', 'Overcast') |   ('outlook', 'Rain') |   ('outlook', 'Sunny') |   ('temperature', 'Cool') |   ('temperature', 'Hot') |   ('temperature', 'Mild') |   ('humidity', 'High') |   ('humidity', 'Normal') |   ('windy', 'Strong') |   ('windy', 'Weak') |   (' ', 'play') |
|:-------|--------------------------:|----------------------:|-----------------------:|--------------------------:|-------------------------:|--------------------------:|-----------------------:|-------------------------:|----------------------:|--------------------:|----------------:|
| No     |                         0 |                     2 |                      3 |                         1 |                        2 |                         2 |                      4 |                        1 |                     3 |                   2 |               5 |
| Yes    |                         4 |                     3 |                      2 |                         3 |                        2 |                         4 |                      3 |                        6 |                     3 |                   6 |               9 |
```Python
df_frecs = get_frecuencias(df_enfermedad,"Gripe",laplace = 0)
display(df_frecs)
```
| Gripe   |   ('Debilidad', 'No') |   ('Debilidad', 'Sí') |   ('Nauseas', 'No') |   ('Nauseas', 'Sí') |   ('Temperatura', 36) |   ('Temperatura', 38) |   ('Dolor', 'No') |   ('Dolor', 'Sí') |   (' ', 'Gripe') |
|:--------|----------------------:|----------------------:|--------------------:|--------------------:|----------------------:|----------------------:|------------------:|------------------:|-----------------:|
| No      |                     7 |                     1 |                   4 |                   4 |                     4 |                     4 |                 2 |                 6 |                8 |
| Sí      |                     2 |                     3 |                   4 |                   1 |                     3 |                     2 |                 3 |                 2 |                5 |


```Python
df_frecs = get_frecuencias(df_enfermedad,"Gripe",laplace = 1)
display(df_frecs)
```

| Gripe   |   ('Debilidad', 'No') |   ('Debilidad', 'Sí') |   ('Nauseas', 'No') |   ('Nauseas', 'Sí') |   ('Temperatura', 36) |   ('Temperatura', 38) |   ('Dolor', 'No') |   ('Dolor', 'Sí') |   (' ', 'Gripe') |
|:--------|----------------------:|----------------------:|--------------------:|--------------------:|----------------------:|----------------------:|------------------:|------------------:|-----------------:|
| No      |                     8 |                     2 |                   5 |                   5 |                     5 |                     5 |                 3 |                 7 |                9 |
| Sí      |                     3 |                     4 |                   5 |                   2 |                     4 |                     3 |                 4 |                 3 |                6 |

In [2]:
def get_frecuencias(df, class_name, laplace=0):
    atributos = df.columns.drop(class_name)
    tablas = []

    for atributo in atributos:
        tabla = pd.crosstab(index=df[class_name], columns=df[atributo])
        if laplace == 1:
            tabla += 1
        tabla.columns = pd.MultiIndex.from_product([[atributo], tabla.columns])
        tablas.append(tabla)
    resultado = pd.concat(tablas, axis=1)
    resultado[("", class_name)] = tablas[0].sum(axis=1)
    return resultado


df_frecs = get_frecuencias(df_play,"play",laplace = 0)
display(df_frecs)

df_frecs = get_frecuencias(df_enfermedad,"Gripe",laplace = 0)
display(df_frecs)

df_frecs = get_frecuencias(df_enfermedad,"Gripe",laplace = 1)
display(df_frecs)

      outlook            temperature          humidity         windy
     Overcast Rain Sunny        Cool Hot Mild     High Normal Strong Weak play
play
No          0    2     3           1   2    2        4      1      3    2    5
Yes         4    3     2           3   2    4        3      6      3    6    9

      Debilidad    Nauseas    Temperatura    Dolor
             No Sí      No Sí          36 38    No Sí Gripe
Gripe
No            7  1       4  4           4  4     2  6     8
Sí            2  3       4  1           3  2     3  2     5

      Debilidad    Nauseas    Temperatura    Dolor
             No Sí      No Sí          36 38    No Sí Gripe
Gripe
No            8  2       5  5           5  5     3  7    10
Sí            3  4       5  2           4  3     4  3     7

###  Tarea 2. Función `get_denominador` <a id="2"></a><a href="#index"><i class="fa fa-list-alt" aria-hidden="true"></i></a>

El clasificador bayesiano es, de forma muy simplificada, una tabla que tiene tantas filas como valores diferentes puede tomar la clase y tantas columnas como combinaciones atributo-valor.

En cada casilla de esta tabla hay un cociente entre el valor de la tabla de tabla de frecuencias y el sumatorio a nivel de cada una de las clases.


Para P(valor_atributo | Clase): 

- El denominador para una clase C y un atributo att es el número total de instancias de la clase C, más un ajuste si usamos el suavizado de laplace.

Para P(Clase):
- El denominador es el número total de instancias en el conjunto de datos, más un ajuste si usamos suavizado de laplace.


La función `get_denominador` recibe:
- Un DataFrame de datos.
- El nombre de la columna que actua como clase.
- laplace. Vale 0 si no se aplica laplace y 1 si sí que se aplica.

Devuelve un DataFrame con los valores de los denominadores.

In [3]:
def get_denominador(df,class_name,laplace=0):
    columnas = df.columns.drop(class_name)
    tablas = []

    for col in columnas:
        tabla = pd.crosstab(df[class_name], df[col])
        if laplace == 1:
            tabla += 1
        tabla.columns = pd.MultiIndex.from_product([[col], tabla.columns])
        tablas.append(tabla)
    res = pd.concat(tablas, axis=1)
    res[("", class_name)] = tablas[0].sum(axis=1)
    return res

denominador = get_denominador(df_play,"play",laplace = 0)
display(denominador)

denominador = get_denominador(df_enfermedad,"Gripe",laplace = 0)
display(denominador)

denominador = get_denominador(df_enfermedad,"Gripe",laplace = 1)
display(denominador)

      outlook            temperature          humidity         windy
     Overcast Rain Sunny        Cool Hot Mild     High Normal Strong Weak play
play
No          0    2     3           1   2    2        4      1      3    2    5
Yes         4    3     2           3   2    4        3      6      3    6    9

      Debilidad    Nauseas    Temperatura    Dolor
             No Sí      No Sí          36 38    No Sí Gripe
Gripe
No            7  1       4  4           4  4     2  6     8
Sí            2  3       4  1           3  2     3  2     5

      Debilidad    Nauseas    Temperatura    Dolor
             No Sí      No Sí          36 38    No Sí Gripe
Gripe
No            8  2       5  5           5  5     3  7    10
Sí            3  4       5  2           4  3     4  3     7

In [4]:
def get_denominador(df, class_name, laplace=0):
    clases = df[class_name].value_counts().sort_index()
    atributos = df.columns.drop(class_name)
    new_df = pd.DataFrame(index=atributos, columns=clases.index)

    for atributo in atributos:
        n_valores = df[atributo].nunique()
        new_df.loc[atributo] = clases + laplace * n_valores
    new_df.loc[class_name] = len(df) + laplace * len(clases)
    return new_df.T


denominador = get_denominador(df_play, "play", laplace=0)
display(denominador)

denominador = get_denominador(df_enfermedad, "Gripe", laplace=0)
display(denominador)

denominador = get_denominador(df_enfermedad, "Gripe", laplace=1)
display(denominador)

     outlook temperature humidity windy play
play
No         5           5        5     5   14
Yes        9           9        9     9   14

      Debilidad Nauseas Temperatura Dolor Gripe
Gripe
No            8       8           8     8    13
Sí            5       5           5     5    13

      Debilidad Nauseas Temperatura Dolor Gripe
Gripe
No           10      10          10    10    15
Sí            7       7           7     7    15

### Definición de datos de test

In [5]:
import numpy as np
debilidad_test = ["No","Sí"]
nauseas_test =   ["No","Sí"]
temperatura_test = [36,38]
dolor_test =     ["Sí","No"]
gripe_test =     [np.nan,np.nan]

df_enfermedad_test = pd.DataFrame({"Debilidad":debilidad_test,"Nauseas":nauseas_test,
                                   "Temperatura":temperatura_test,"Dolor":dolor_test,"Gripe":gripe_test})
df_enfermedad_test

  Debilidad Nauseas  Temperatura Dolor  Gripe
0        No      No           36    Sí    NaN
1        Sí      Sí           38    No    NaN

###  Tarea 3. Función principal `bayesiano` <a id="3"></a><a href="#index"><i class="fa fa-list-alt" aria-hidden="true"></i></a>


Implementar una función en Python llamada `bayesiano` que clasifique una nueva instancia de datos (ejemplo) utilizando el algoritmo Naive Bayes. La función debe usar las frecuencias y denominadores precalculados (obtenidos de `get_frecuencias` y `get_denominador`) aplicando el suavizado de Laplace cuando sea necesario.


El clasificador Naive Bayes predice la clase más probable para una nueva instancia ejemplo = ($v_1$, $v_2$, ..., $v_n$) calculando la probabilidad a posteriori P(Clase | $v_1$, $v_2$, ..., $v_n$) para cada clase posible. 


Recibe
- df: DataFrame de Pandas con los datos de entrenamiento.
- class_name: Nombre de la columna de clase en 'df'.
- ejemplo: La nueva instancia a clasificar. UnaSerie de Pandas, donde las claves/índice son los nombres de los
                 atributos y los valores son los valores correspondientes para la instancia.

Devuelve un DataFrame con el clasificador Bayesiano, la última columna serán las probabilidades normalizadas para cada una de las clases.


Pista:
Para calcular el producto puedes utilizar la agregación, vista en el primer notebook de Pandas.



```Python
bay = bayesiano(df_enfermedad,"Gripe",df_enfermedad_test.iloc[0],laplace = 0)
display(bay)
```

| Gripe   |   ('Debilidad', 'No') |   ('Nauseas', 'No') |   ('Temperatura', 36) |   ('Dolor', 'Sí') |   ('Gripe', '') |   ('Producto', '') |   ('Probs', '') |
|:--------|----------------------:|--------------------:|----------------------:|------------------:|----------------:|-------------------:|----------------:|
| Sí      |                 0.4   |                 0.8 |                   0.6 |              0.4  |        0.384615 |             0.0295 |        0.226054 |
| No      |                 0.875 |                 0.5 |                   0.5 |              0.75 |        0.615385 |             0.101  |        0.773946 |

```Python
bay = bayesiano(df_enfermedad,"Gripe",df_enfermedad_test.iloc[1],laplace = 0)
display(bay)
```



| Gripe   |   ('Debilidad', 'Sí') |   ('Nauseas', 'Sí') |   ('Temperatura', 38) |   ('Dolor', 'No') |   ('Gripe', '') |   ('Producto', '') |   ('Probs', '') |
|:--------|----------------------:|--------------------:|----------------------:|------------------:|----------------:|-------------------:|----------------:|
| Sí      |                 0.6   |                 0.2 |                   0.4 |              0.6  |        0.384615 |             0.0111 |        0.698113 |
| No      |                 0.125 |                 0.5 |                   0.5 |              0.25 |        0.615385 |             0.0048 |        0.301887 |

```Python
bay = bayesiano(df_enfermedad,"Gripe",df_enfermedad_test.iloc[0],laplace = 1)
display(bay)
```

| Gripe   |   ('Debilidad', 'No') |   ('Nauseas', 'No') |   ('Temperatura', 36) |   ('Dolor', 'Sí') |   ('Gripe', '') |   ('Producto', '') |   ('Probs', '') |
|:--------|----------------------:|--------------------:|----------------------:|------------------:|----------------:|-------------------:|----------------:|
| Sí      |              0.428571 |            0.714286 |              0.571429 |          0.428571 |             0.4 |              0.03  |        0.263158 |
| No      |              0.8      |            0.5      |              0.5      |          0.7      |             0.6 |              0.084 |        0.736842 |

```Python
bay = bayesiano(df_enfermedad,"Gripe",df_enfermedad_test.iloc[1],laplace = 1)
display(bay)
```

| Gripe   |   ('Debilidad', 'Sí') |   ('Nauseas', 'Sí') |   ('Temperatura', 38) |   ('Dolor', 'No') |   ('Gripe', '') |   ('Producto', '') |   ('Probs', '') |
|:--------|----------------------:|--------------------:|----------------------:|------------------:|----------------:|-------------------:|----------------:|
| Sí      |              0.571429 |            0.285714 |              0.428571 |          0.571429 |             0.4 |              0.016 |            0.64 |
| No      |              0.2      |            0.5      |              0.5      |          0.3      |             0.6 |              0.009 |            0.36 |

In [8]:

import pandas as pd

def bayesiano(df, class_name, ejemplo, laplace=0):
    atributos = df.columns.drop(class_name)

    frecuencia = get_frecuencias(df, class_name, laplace)

    class_counts = frecuencia.loc[:, ("", class_name)]
    total = frecuencia.loc[:, ("", class_name)].sum()

    prob = class_counts / total

    data = {}
    for atributo in atributos:
        valor = ejemplo[atributo]
        num = frecuencia.loc[:, (atributo, valor)]
        data[(atributo, valor)] = num / class_counts

    data[(class_name, "")] = prob

    cond_df = pd.DataFrame(
        { (atributo, ejemplo[atributo]): data[(atributo, ejemplo[atributo])]
          for atributo in atributos }
    )
    producto = prob * cond_df.prod(axis=1)
    data[("Producto", "")] = producto

    data[("Probs", "")] = producto / producto.sum()

    cols = pd.MultiIndex.from_tuples(list(data.keys()))
    mat  = np.column_stack([data[col] for col in cols])
    resultado = pd.DataFrame(mat, index=class_counts.index, columns=cols)

    if "Sí" in resultado.index:
        nuevo_orden = ["Sí"] + [c for c in resultado.index if c != "Sí"]
        resultado = resultado.reindex(nuevo_orden)
    
    return resultado





bay = bayesiano(df_enfermedad,"Gripe",df_enfermedad_test.iloc[0],laplace = 0)
display(bay)
bay = bayesiano(df_enfermedad,"Gripe",df_enfermedad_test.iloc[1],laplace = 0)
display(bay)

bay = bayesiano(df_enfermedad,"Gripe",df_enfermedad_test.iloc[0],laplace = 1)
display(bay)
bay = bayesiano(df_enfermedad,"Gripe",df_enfermedad_test.iloc[1],laplace = 1)
display(bay)

      Debilidad Nauseas Temperatura Dolor     Gripe  Producto     Probs
             No      No          36    Sí
Gripe
Sí        0.400     0.8         0.6  0.40  0.384615  0.029538  0.226348
No        0.875     0.5         0.5  0.75  0.615385  0.100962  0.773652

      Debilidad Nauseas Temperatura Dolor     Gripe  Producto     Probs
             Sí      Sí          38    No
Gripe
Sí        0.600     0.2         0.4  0.60  0.384615  0.011077  0.697337
No        0.125     0.5         0.5  0.25  0.615385  0.004808  0.302663

      Debilidad   Nauseas Temperatura     Dolor     Gripe  Producto     Probs
             No        No          36        Sí
Gripe
Sí     0.428571  0.714286    0.571429  0.428571  0.411765  0.030869  0.272645
No     0.800000  0.500000    0.500000  0.700000  0.588235  0.082353  0.727355

      Debilidad   Nauseas Temperatura     Dolor     Gripe  Producto     Probs
             Sí        Sí          38        No
Gripe
Sí     0.571429  0.285714    0.428571  0.571429  0.411765  0.016464  0.651068
No     0.200000  0.500000    0.500000  0.300000  0.588235  0.008824  0.348932